@media only screen and (max-width: 1600px) {

html {
    scroll-behavior: smooth;
  }
  /* https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section2 */

body {
    font-family: 'Source Code Pro', monospace;
    background-color: black;
    color: white;
    font-size: 20px;
}

a {
    color: #cc0000;
    text-decoration: none;
}

.option {

}

.narrative{
    padding: 100px;
    width: 4800px;
    height: 4800px;
    /* position: absolute;
    left: 0px;
    right: 0px; */
}

.scene {
    border: 5px solid #cc0000;
    padding: 90px;
    width: 800px;
    /* margin: 25px 100px 100px 50px; */
}

/* .line1 {
    border: 5px solid white;
}
.line2 {
    border: 5px solid white;
}
.line3 {
    border: 5px solid white;
}
.line4 {
    border: 5px solid white;
}
.line5 {
    border: 5px solid white;
} */

.column0 {
    position: relative;
    top: 25px;
}
.column1 {
    position: relative;
    left: 1400px;
    top: 25px;
    right: 50px;
}
.column2 {
    position: relative;
    left: 2800px;
    top: 25px;
    right: 50px;
}
.column3 {
    position: relative;
    left: 4200px;
    top: 25px;
    right: 50px;
}

#intro {
    font-size: 32px;
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
}
#trap {
}
#goBackToHome1 {  
}
#goToTheCafeAtTheEndOfTheRoad {
}


#fall0 {
}
#goBackToHome {
}
#checkTheCar {
}
#morningTrap {
}


#morning {
}
#goBackToHomeAgain {
}
#check{
}
#road{
}
#keepWalking{
}


#fall {
}
#fall1{
}
#fall2{
}
#morning1{
}
#runOutOfTheStore{
}


#wake{
    padding-bottom: 200px;
    padding-left: 100px;
} 
}